*.mat
*.asv
*.fig
*.txt
*.TXT
*.csv
*.jpg
*.png
*.svg
*.tif
*.tiff
*.mp4
*.kml
*.kmz
*.shx
*.shp
*.dbf
*.prj
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.pdf
*.DS_store
*.zip
*.nc
*.h5
*api
*key
*api.txt
*key.txt
Data/
Figures/
Local/
+local/
